body {
    background-color: #2b2730;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23654f6d' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
}

/* /////////// LOADER //////////////*/

.loader-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2b2730;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #e8d9f3;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #AD30FF;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

/* /////////// END OF LOADER //////////////*/

#mainNavbar .navbar-brand{
    font-family: 'Goldman', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(135deg,#AD30FF, rgb(223, 46, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navLinks .nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color:  #e8d9f3;
    transition: color 100ms ease-in-out;
}

#mainNavbar .nav-link:hover, nav-link:focus {
    color: #AD30FF;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mapContainer {
    width: 80%;
    height: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.mapContained {
    position: relative;
    width: 100%;
    height: 100%;      
}

#issData {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
    height: 10%;
    width: 80%;
}

.dataCells {
    height: 100%;
    width: 20%;
    border: 1px solid #803cad;
    max-height: 74px;
    min-height: 60px;
}

.dataCells h2 {
    font-family: 'Goldman', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(135deg,#AD30FF, rgb(223, 46, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 5px;
    margin-left: 3px;
}

.dataCells h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}


@media (max-width: 900px) { 
    .mapContainer {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    #issData {
        width: 100%;
    }
    .dataCells{
        border: 1.5px solid #803cad;
    }
}

@media (min-width: 1200px) {
    .mapContainer {
        width: 60%;
        height: 60%;
        border: 1px solid #803cad;
    }
    .mapContained {
        box-sizing: border-box;
    }
    #issData {
        width: 60%;
    }
}

@media (max-width: 560px) {
    .dataCells h2{
        font-size: 0.7rem;
    }
    .dataCells h3 {
        font-size: 0.7rem;
    }
}

@media (max-width: 374px) {
    .dataCells h2{
        font-size: 0.6rem;
    }
    .dataCells h3 {
        font-size: 0.6rem;
    }
}
